# cmake files
CMakeFiles/
CMakeCache.txt
*.cmake
Makefile
_CPack_Packages
install_manifest.txt
*.tar.bz2
include/npaversion.hpp
!cmake/Modules/*.cmake

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a

# Script files
*.map
*.nss
*.nsb

# Extracted achieves
voice/
sound/
cg/
nss/
nssex/

# Executables
nsbparse
nsbcompile
npapack
npinstall
npaextract
nipa
nsbparse2
nsbcompile2
npcrypt
npfparse
mpkextract
*.exe
